{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    {% for i in pr %}
                    <div class="col-md-4">
                        <div class="card bg-transparent border my-3 my-md-0">
                            <a href="{{i.get_url}}"><img src="{{i.img.url}}" alt="template by DevCRID http://www.devcrud.com/" class="rounded-0 card-img-top mg-responsive" height="350"></a>
                            <div class="card-body">
                                <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">{{i.price}} Rs</a></h1>
                                <h4 class="pt20 pb20">{{i.name}}</h4>
                                <p class="text-white">{{i.desc|truncatewords:17}}</p>
                                <p class="text-white">stock left: {{i.stock}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
</html>

{% endblock %}
